<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>

<title data-th-text="'Profil de ' + ${utilisateur.pseudo}"></title>
    <body>

        <main class="main-content">
            <h1 data-th-text="'Profil de ' + ${utilisateur.pseudo}"></h1>

            <div class="infos-profil">
                <p class="info">
                    <span class="infos-details-titre">Pseudo</span>
                    <span data-th-text="${utilisateur.pseudo}"></span>
                </p>

                <p class="info">
                    <span class="infos-details-titre">Nom</span>
                    <span data-th-text="${utilisateur.nom}"></span>
                </p>

                <p class="info">
                    <span class="infos-details-titre">Prénom</span>
                    <span data-th-text="${utilisateur.prenom}"></span>
                </p>

                <p class="info">
                    <span class="infos-details-titre">Email</span>
                    <span data-th-text="${utilisateur.email}"></span>
                </p>

                <p class="info">
                    <span class="infos-details-titre">Téléphone</span>
                    <span data-th-text="${utilisateur.telephone}"></span>
                </p>

                <p class="info">
                    <span class="infos-details-titre">Adresse</span>
                    <span data-th-text="${utilisateur.rue}"></span>
                </p>

                <p class="info">
                    <span class="infos-details-titre">Code postal</span>
                    <span data-th-text="${utilisateur.codePostal}"></span>
                </p>

                <p class="info">
                    <span class="infos-details-titre">Ville</span>
                    <span data-th-text="${utilisateur.ville}"></span>
                </p>

            </div>

            <div data-th-if="${#ctx.session.currentUser != null && #ctx.session.currentUser == utilisateur}">
                <button class="btn-primary btn-primary-fondblanc"><a data-th-text="Modifier" data-th-href="@{/edit(pseudo=${#ctx.session.currentUser.pseudo})}"></a></button>
            </div>
        </main>
    </body>
</html>