<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>

<title>Profil</title>

<body>
    <main class="main-content">
            <h1>Profil</h1>
            <form xmlns:th="http://www.thymeleaf.org"
                  data-th-action="@{/profil}"
                  data-th-object="${profil}"
                  method="post"
                  class="form-profil">

                <div>
                    <label for="inputPseudo">Pseudo</label>
                    <input type="text" name="pseudo" id="inputPseudo"
                           autofocus="autofocus"
                           data-th-field="*{pseudo}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('pseudo')}"
                          data-th-errors="*{pseudo}">
                    </span>

                    <label for="inputNom">Nom</label>
                    <input type="text" name="nom" id="inputNom"
                           autofocus="autofocus"
                           data-th-field="*{nom}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('nom')}"
                          data-th-errors="*{nom}">
                    </span>

                    <label for="inputPrenom">Prénom</label>
                    <input type="text" name="prenom" id="inputPrenom"
                           autofocus="autofocus"
                           data-th-field="*{prenom}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('prenom')}"
                          data-th-errors="*{prenom}">
                    </span>

                    <label for="inputEmail">Email</label>
                    <input type="text" name="email" id="inputEmail"
                           autofocus="autofocus"
                           data-th-field="*{email}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('email')}"
                          data-th-errors="*{email}">
                    </span>

                    <label for="inputTelephone">Téléphone</label>
                    <input type="text" name="telephone" id="inputTelephone"
                           autofocus="autofocus"
                           data-th-field="*{telephone}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('telephone')}"
                          data-th-errors="*{telephone}">
                    </span>
                </div>

                <div>
                    <label for="inputRue">Rue</label>
                    <input type="text" name="rue" id="inputRue"
                           autofocus="autofocus"
                           data-th-field="*{rue}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('rue')}"
                          data-th-errors="*{rue}">
                    </span>

                    <label for="inputCP">Code postal</label>
                    <input type="text" name="cp" id="inputCP"
                           autofocus="autofocus"
                           data-th-field="*{codePostal}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('codePostal')}"
                          data-th-errors="*{codePostal}">
                    </span>

                    <label for="inputVille">Ville</label>
                    <input type="text" name="ville" id="inputVille"
                           autofocus="autofocus"
                           data-th-field="*{ville}"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('ville')}"
                          data-th-errors="*{ville}">
                    </span>

                    <label for="inputMdpActuel">Mot de passe</label>
                    <input type="text" name="mdpActuel" id="inputMdpActuel"
                           autofocus="autofocus"
                           required/>
                    <span style="color: red"
                          data-th-if="${#fields.hasErrors('ville')}"
                          data-th-errors="*{ville}">
                    </span>

                    <button type="submit" class="btn-primary btn-primary-fondblanc">Enregistrer</button>
                    <button type="button" class="btn-secondary"><a href="">Supprimer mon compte</a></button>
                </div>
            </form>
        </main>
    </body>
</html>