<!--
    Header section containing navigation menus for both desktop and mobile views.
    The header includes a logo, user information, and navigation links.
-->

<header xmlns:th="http://www.thymeleaf.org" th:fragment="fragment-header">

    <!-- Desktop Navigation Menu -->
    <nav>
        <div class="logo-header">
            <a data-th-href="@{/}"><img th:href="@{/}" th:src="@{/images/logo.png}" alt="ENI Enchères"/></a>
        </div>

        <ul>
            <!-- Display user information if logged in -->
            <li class="header-user-info"
                data-th-text="${#ctx.session.currentUser != null} ? ${#ctx.session.currentUser.pseudo} : 'Non connecté!'"></li>
            <li class="header-user-info" data-th-if="${#ctx.session.currentUser != null}"
                data-th-text="${#ctx.session.currentUser.credit} + ' points'"></li>
            <li class="header-user-info" id="header-separator">|</li>

            <!-- Main navigation links -->
            <li><a data-th-href="@{/}">Enchères</a></li>
            <li th:if="${#ctx.session.currentUser == null}"><a data-th-href="@{/inscription}">S'inscrire</a></li>
            <li th:if="${#ctx.session.currentUser == null}"><a data-th-href="@{/login}">Se connecter</a></li>
            <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/encheres/ajout-article}">Vendre un
                article</a></li>
            <li th:if="${#ctx.session.currentUser != null}"><a
                    data-th-href="@{/utilisateur/my-profil(no=${#ctx.session.currentUser.noUtilisateur})}">Mon
                profil</a></li>
            <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/logout}">Déconnexion</a></li>
            <li style="color: red"
                th:if="${#ctx.session.currentUser != null and #ctx.session.currentUser.isAdministrateur()}">
                <a data-th-href="@{/administrator/categories}">Gestion des catégories</a>
            </li>
        </ul>
    </nav>

    <!-- Mobile Navigation Menu -->
    <div class="menu-toggle">
        <div class="logo-header">
            <a data-th-href="@{/}"><img th:src="@{/images/logo.png}" alt="ENI Enchères"/></a>
        </div>

        <div class="menu">
            <i class="fa fa-bars" id="hamburger"></i>
            <ul id="menu-hamburger">
                <!-- Display user information if logged in -->
                <li class="header-user-info"
                    data-th-text="${#ctx.session.currentUser != null} ? ${#ctx.session.currentUser.pseudo} : 'Non connecté!'"></li>
                <li class="header-user-info" data-th-if="${#ctx.session.currentUser != null}"
                    data-th-text="${#ctx.session.currentUser.credit} + ' points'"></li>

                <!-- Main navigation links for mobile view -->
                <li><a data-th-href="@{/}">Enchères</a></li>
                <li th:if="${#ctx.session.currentUser == null}"><a data-th-href="@{/inscription}">S'inscrire</a></li>
                <li th:if="${#ctx.session.currentUser == null}"><a data-th-href="@{/login}">Se connecter</a></li>
                <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/encheres/ajout-article}">Vendre un
                    article</a></li>
                <li th:if="${#ctx.session.currentUser != null}"><a
                        data-th-href="@{/utilisateur/my-profil(no=${#ctx.session.currentUser.noUtilisateur})}">Mon
                    profil</a></li>
                <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/logout}">Déconnexion</a></li>
                <li style="color: red"
                    th:if="${#ctx.session.currentUser != null and #ctx.session.currentUser.isAdministrateur()}">
                    <a data-th-href="@{/administrator/categories}">Gestion des catégories</a>
                </li>
            </ul>
        </div>
    </div>
</header>