<header xmlns:th="http://www.thymeleaf.org" th:fragment="fragment-header">

    <nav>
        <div class="logo-header">
            <a data-th-href="@{/}"><img th:href="@{/}" th:src="@{/images/logo.png}" alt="ENI Enchères"/></a>
        </div>

        <ul>
            <li th:if="${#ctx.session.currentUser == null}"><a data-th-href="@{/inscription}">S'inscrire</a></li>
            <li th:if="${#ctx.session.currentUser == null}"><a data-th-href="@{/login}">Se connecter</a></li>
            <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/}">Enchères</a></li>
            <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/article}">Vendre un article</a></li>
            <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/edit(pseudo=${#ctx.session.currentUser.pseudo})}">Mon profil</a></li>
            <li th:if="${#ctx.session.currentUser != null}"><a data-th-href="@{/logout}">Déconnexion</a></li>
        </ul>

    </nav>

</header>