body{
    background-color: #F6F6F6;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
}

.btn-primary{
    color: #ffffff;
    background-color: #000000;
    padding: 15px 30px 15px 30px;
    border: none;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary-fondbleu{
    box-shadow: 6px 6px 0 #F3C904;
}

.btn-primary-fondbleu:hover{
    box-shadow: 3px 3px 0 #ffffff;
}




/* Mise en forme header et footer */

header, footer{
    background-color: #000000;
    color: #ffffff;
}

header nav, footer nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

header nav ul{
    display: flex;
}

footer nav ul{
    font-size: 15px;
}

header nav ul li, footer nav ul li{
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
}

header nav ul li a, footer nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover, footer nav ul li a:hover{
    color: #2CDCF4;
}





/* Mise en forme globale */

main{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 60px;
}

h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}




/* Formulaire de connexion */

.form-connexion{
    background-color: #2CDCF4;
    width: 500px;
    margin: auto;
    padding: 40px;
    margin-bottom: 200px;
}

.form-connexion .mdp-oublie{
    font-size: 15px;
}

.form-connexion .mdp-oublie a{
    color: #000000;
}

.form-connexion .mdp-oublie a:hover{
    text-decoration: none;
}

.form-connexion input{
    width: 97%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 0;
    border: none;
}

.form-connexion .se-souvenir input{
    width: 5%;
}

.section-filtres h2{
    text-align: center;
    width: 100%;
}

.section-filtres .filtres{
    display: flex;
    justify-content: space-between;
    background-color: #2CDCF4;
    padding: 40px;
    align-items: center;
}

.section-filtres .filtres input, .section-filtres .filtres select {
    width: 30%;
    height: 30px;
}