body{
    background-color: #ececec;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
}

.btn-primary{
    color: #ffffff;
    background-color: #000000;
    padding: 15px 30px 15px 30px;
    border: none;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary-fondbleu{
    box-shadow: 6px 6px 0 #F3C904;
}

.btn-primary-fondbleu:hover{
    box-shadow: 3px 3px 0 #ffffff;
}

.btn-primary-fondblanc{
    box-shadow: 6px 6px 0 #2CDCF4;
}

.btn-primary-fondblanc:hover{
    box-shadow: 3px 3px 0 #ffffff;
}

.btn-secondary{
    border: none;
    margin-left: 20px;
    font-size: 18px;
}

.btn-secondary a{
    color: #ff0000;
}

.btn-primary a{
    color: #ffffff;
    text-decoration: none;
}

.btn-secondary a:hover{
    text-decoration: none;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="date"], input[type="number"], select{
    border: none;
    border-radius: 0;
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
}



/* Mise en forme header et footer */

header, footer{
    background-color: #000000;
    color: #ffffff;
}

header nav, footer nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

header nav ul{
    display: flex;
}

footer nav ul{
    font-size: 15px;
}

header nav ul li, footer nav ul li{
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
}

header nav ul li a, footer nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover, footer nav ul li a:hover{
    color: #2CDCF4;
}





/* Mise en forme globale */

main{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 100px;
}




/* Formulaire de connexion */

.form-connexion{
    background-color: #2CDCF4;
    width: 500px;
    margin: auto;
    padding: 40px;
    margin-bottom: 200px;
}

.form-connexion .mdp-oublie{
    font-size: 15px;
}

.form-connexion .mdp-oublie a{
    color: #000000;
}

.form-connexion .mdp-oublie a:hover{
    text-decoration: none;
}

.form-connexion input{
    width: 97%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 0;
    border: none;
}

.form-connexion .se-souvenir input{
    width: 5%;
}


/* Section filtres page d'accueil */

.section-filtres h2{
    text-align: center;
    width: 100%;
}

.section-filtres .filtres{
    display: flex;
    justify-content: space-between;
    background-color: #2CDCF4;
    padding: 40px;
    align-items: center;
}

.section-filtres .filtres input, .section-filtres .filtres select {
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 0;
}

.section-filtres .cases-filtres{
    display: flex;
    background-color: #2CDCF4;
    padding: 0 40px 40px 40px;
}

.section-filtres .cases-filtres div{
    width: 300px;
}

.section-filtres .cases-filtres div input[type="checkbox"]{
    margin-left: 50px;
    margin-top: 10px;
}



/* Affichage des articles de la page d'accueil */

.articles{
    margin-top: 80px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #dddddd;
    width: 48%;
    min-width: 400px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.articles article .image-container {
    min-width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.articles article .image-container img {
    /* width: 100%;*/
    height: auto;
    display: block;
}

.articles article .infos{
    padding: 15px 30px 30px 30px;
    min-width: 300px;
}

.articles article .infos button{
    margin-top: 30px;
}

.articles article .infos p{
    font-size: 15px;
}

.articles article .infos h3{
    margin: 15px 0 10px 0;
}

.articles article .infos .infos-details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 200px;
    max-width: 100%;
    flex-wrap: wrap;
}

.articles article .infos .infos-details p{
    font-size: 18px;
}

.infos-details-titre{
    text-transform: uppercase;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 10px;
}




/* Formulaire d'inscription */

.form-inscription, .form-profil{
    display: flex;
    justify-content: space-between;
}

.form-inscription div, .form-profil div{
    width: 48%;
}

.form-inscription div span, .form-profil div span{
    display: block;
    margin-bottom: 20px;
}

.form-inscription div label, .form-profil div label{
    width: 100%;
}

.form-inscription button, .form-profil button{
    margin-top: 40px;
}



/* Informations du profil */

.infos-profil{
    width: 100%;
}

.infos-profil .info{
    display: flex;
}

.infos-profil .info .infos-details-titre{
    width: 25%;
}


/*Ajouter un article */

.nouvel-article, .details-article{
    display: flex;
    justify-content: space-between;
}

.nouvel-article .image-article, .details-article .image-article{
    width: 40%;
}

.nouvel-article .image-article img, .details-article .image-article img{
    width: 100%;
}

.nouvel-article .infos-article, .details-article .infos-article{
    width: 50%;
}

.nouvel-article .infos-article span{
    display: block;
}

.retrait-article{
    background-color: #2CDCF4;
    padding: 40px;
    margin: 10px 0 40px 0;
}

.details-article .infos-article p{
    margin: 0;
}

.details-article .infos-article .infos-details-titre{
    margin-top: 40px;
    margin-bottom: 10px;
}

.details-article button{
    margin-top: 50px;
}