<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Liste des categories</title>
</head>
<body>
    <p data-th-each="categorie : ${lstCategories}">
        <span data-th-text="${categorie.libelle}"/>
    </p>


    <h1 style="color:red" data-th-text="${erreur}"/>
    <form data-th-action="@{/categories}" data-th-object="${categorie}" method="post">
        <label for="libelle">libelle</label>
        <input type="text" id="libelle" data-th-field="*{libelle}"/>
        <span data-th-if="${#fields.hasErrors('libelle')}" data-th-errors="*{libelle}"/> <br>

        <input type ="submit" value="ajouter"/>
    </form>

</body>
</html>