<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>

<title>Vente</title>

<body>
<main class="main-content">
    <h1>Voir la vente</h1>

    <div data-th-object="${article}" class="form-inscription">

        <div>
            <form data-th-action="@{/encheres/details}" method="post">
                <h2 data-th-text="*{nom_article}"></h2>

                <p class="infos-details-titre">Description</p>
                <p data-th-text="*{description}"></p>

                <p class="infos-details-titre">Catégorie</p>
                <p data-th-text="*{categorie.getLibelle()}"></p>

                <p class="infos-details-titre">Meilleur offre</p>
                <p data-th-text="*{prix_vente}"></p>

                <p class="infos-details-titre">Mise à prix</p>
                <p data-th-text="*{prix_initial}"></p>

                <p class="infos-details-titre">Fin des enchères</p>
                <p data-th-text="*{date_fin_encheres}"></p>

                <p class="infos-details-titre">Retrait</p>
                <p data-th-text="*{retrait.getRue()}"></p>
                <p data-th-text="*{retrait.getVille()}"></p>
                <p data-th-text="*{retrait.getCode_postal()}"></p>

                <p class="infos-details-titre">Vendeur</p>
                <a data-th-href="@{/utilisateur/details(no=${article.utilisateur.getNoUtilisateur()})}">
                    <p data-th-text="*{utilisateur.getPseudo()}"></p>
                </a>

                <div data-th-if="${(article.utilisateur.pseudo != #ctx.session.currentUser.pseudo)
                 and (article.date_debut_encheres lt T(java.time.LocalDate).now()
                 and article.date_fin_encheres gt T(java.time.LocalDate).now()
                 or article.date_debut_encheres eq T(java.time.LocalDate).now()
                 or article.date_fin_encheres eq T(java.time.LocalDate).now())}">
                    <input type="hidden" id="id" name="id" data-th-value="*{no_article}">

                    <label class="infos-details-titre" for="proposition">Ma proposition</label>
                    <input type="number" id="proposition" name="proposition"/>
                    <span style="color: red" data-th-if="${invalidProposition != null}"
                          data-th-text="${invalidProposition}"></span>
                    <span style="color: red" data-th-if="${invalidCredit != null}"
                          data-th-text="${invalidCredit}"></span>

                    <button type="submit" value="ajouter" class="btn-primary btn-primary-fondblanc">Enchérir</button>
                </div>
            </form>
        </div>

        <div>
            <h3>Liste des enchères</h3>
            <span data-th-each="enchere : ${encheres}"
                  data-th-if="${enchere.article.no_article} == ${article.no_article}"
                  data-th-text="${enchere.utilisateur.pseudo} + ' à misé(e) ' + ${enchere.montant_enchere} +
                ' points le ' + ${enchere.date_enchere} + '.'">
            </span>
        </div>
    </div>
</main>
</body>
</html>