<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>

<title>ENI Enchères - Connexion</title>

<body>
<main class="main-content">
    <H1>Connexion</H1>

    <form th:action="@{/login}" method="post" class="form-connexion">
        <label for="username">Pseudonyme</label>
        <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password"/> <br/>

        <span style="color: red" data-th-if="${loginError}" data-th-text="${message}"></span>

        <div class="se-souvenir">
            <label for="">Se souvenir de moi</label><input type="checkbox" name="remember-me" id=""/>
        </div>
        <button type="submit" value="Connexion" class="btn-primary btn-primary-fondbleu">Connexion</button>
    </form>
</main>
</body>
</html>