<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>

<title>ENI Enchères - Accueil</title>

<body>
<main class="main-content">
    <H1>Accueil</H1>


    <a data-th-href="@{/categories}">Categories</a>
    <a data-th-href="@{/article}">article</a>
    <a data-th-href="@{/login}">Connexion</a>
    <a data-th-href="@{/logout}">Déconnexion</a>
    <a data-th-href="@{/inscription}">Inscription</a>
    <a data-th-if="${#ctx.session.currentUser != null}" data-th-href="@{/edit(pseudo=${#ctx.session.currentUser.pseudo})}">Mon profil</a>

    <p data-th-text="${#ctx.session.currentUser != null} ? ${#ctx.session.currentUser.prenom} : 'Non connecté!'"/>

    <table>
        <tr data-th-each="utilisateur : ${utilisateurs}">
            <td><a data-th-text="${utilisateur.pseudo}" data-th-href="@{/detail(pseudo=${utilisateur.pseudo})}"></a></td>
        </tr>
    </table>


    <section class="section-filtres">
        <h2>Rechercher une enchère</h2>
        <form>
            <div class="filtres">
                <input type="text" name="searchfield" id="searchfield" placeholder="Le nom de l'article contient...">
                <select name="categorie">
                    <option data-th-each="categories : ${lstCategories}"
                            data-th-text="${categories.libelle}"></option>
                </select> <br>
                <button type="submit" class="btn-primary btn-primary-fondbleu">Rechercher</button>
            </div>
            
            <div th:if="${#ctx.session.currentUser != null}" class="cases-filtres">
                <div>
                    <input type="radio" name="achats" id=""><label>Achats</label><br />
                    <input type="checkbox" name="encheres-ouvertes" id=""><label>Enchères ouvertes</label><br />
                    <input type="checkbox" name="mes-encheres" id=""><label>Mes enchères</label><br />
                    <input type="checkbox" name="encheres-remportees" id=""><label>Enchères remportées</label>
                </div>
                <div>
                    <input type="radio" name="achats" id=""><label>Mes ventes</label><br />
                    <input type="checkbox" name="encheres-ouvertes" id=""><label>Mes ventes en cours</label><br />
                    <input type="checkbox" name="mes-encheres" id=""><label>Ventes non débutées</label><br />
                    <input type="checkbox" name="encheres-remportees" id=""><label>Ventes terminées</label>
                </div>
            </div>
        </form>

<!-- Section à supprimer quand les infos des articles seront accessibles sur cette page -->
        <section class="articles">
            <article>
                <div class="image-container">
                    <img th:src="@{images/placeholder.png}" />
                </div>
                <div class="infos">
                    <h3>Exemple article</h3>
                    <p>par <span>pseudo</span></p>
                    <div class="infos-details">
                        <div>
                            <p class="infos-details-titre">Prix</p>
                            <p>210 points</p>
                        </div>
                        <div>
                            <p class="infos-details-titre">Fin de l'enchère</p>
                            <p>21/03/2024</p>
                        </div>
                    </div>
                    <button th:if="${#ctx.session.currentUser != null}" class="btn-primary btn-primary-fondblanc">Voir l'article</button>
                </div>
            </article>

            <article>
                <div class="image-container">
                    <img th:src="@{images/placeholder.png}" />
                </div>
                <div class="infos">
                    <h3>Exemple article</h3>
                    <p>par <span>pseudo</span></p>
                    <div class="infos-details">
                        <div>
                            <p class="infos-details-titre">Prix</p>
                            <p>210 points</p>
                        </div>
                        <div>
                            <p class="infos-details-titre">Fin de l'enchère</p>
                            <p>21/03/2024</p>
                        </div>
                    </div>
                    <button th:if="${#ctx.session.currentUser != null}" class="btn-primary btn-primary-fondblanc">Voir l'article</button>
                </div>
            </article>

        </section>
     <!--  Fin section à supprimer  -->

        <section class="articles" data-th-each="article : ${lstArticles}">
            <article>
                <div class="image-container">
                    <img th:src="@{images/placeholder.png}" />
                </div>
                <div class="infos">
                    <h3 data-th-text="${article.nom_article}">PC Gamer</h3>
                    <p>par <span data-th-text="${article.utilisateur}">pseudo</span></p>
                    <div class="infos-details">
                        <div>
                            <p class="infos-details-titre">Prix</p>
                            <p data-th-text="${article.prix_initial}">210 points</p>
                        </div>
                        <div>
                            <p class="infos-details-titre">Fin de l'enchère</p>
                            <p>èèè</p>
                        </div>
                    </div>
                    <button th:if="${#ctx.session.currentUser != null}" class="btn-primary btn-primary-fondblanc">Voir l'article</button>
                </div>
            </article>

        </section>

        
            
        </div>
    </section>
</main>
</body>
</html>


