<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>

<title>Modifier l'article</title>
<body>
    <main class="main-content">
        <h1>Modifier l'article</h1>
        <div class="details-article">
            <div class="image-article">
                <img src="/images/placeholder.png" />
                <img src="/images/placeholder.png" />
                <p>Photos de l'article</p>
            </div>

            <!-- <div class="infos-article">
                <h2 data-th-text="${article.nom_article}"></h2>

                <p class="infos-details-titre">Description</p>
                <p data-th-text="${article.description}"></p>

                <p class="infos-details-titre">Catégorie</p>
                <p data-th-text="${article.categorie}"></p>

                <p class="infos-details-titre">Mise à prix</p>
                <p data-th-text="${article.prix_initial}"></p>

                <p class="infos-details-titre">Fin des enchères</p>
                <p data-th-text="${article.date_fin_encheres}"></p>

                <p class="infos-details-titre">Retrait</p>
                <p>Rue</p>
                <p>Code postal Ville</p>

                <p class="infos-details-titre">Utilisateur</p>
                <p data-th-text="${article.utilisateur}">Nom de l'utilisateur</p> -->

            <div class="infos-article">
                <form>
                    <h2>Nom de l'article</h2>

                    <p class="infos-details-titre">Description</p>
                    <p>Description de l'article</p>

                    <p class="infos-details-titre">Catégorie</p>
                    <p>Catégorie</p>

                    <p class="infos-details-titre">Mise à prix</p>
                    <p>X points</p>

                    <p class="infos-details-titre">Fin des enchères</p>
                    <p>date</p>

                    <p class="infos-details-titre">Retrait</p>
                    <p>Rue</p>
                    <p>Code postal Ville</p>

                    <p class="infos-details-titre">Utilisateur</p>
                    <p>Nom de l'utilisateur</p>

                    <p class="infos-details-titre">Ma proposition</p>
                    <input type="number" name="" id="">

                    <button type ="submit" value="ajouter" class="btn-primary btn-primary-fondblanc">Enchérir</button>
                </form>
            </div>

                <button type="button" class="btn-primary btn-primary-fondblanc">Modifier</button>
                <button type="button" class="btn-secondary"><a href="">Annuler la vente</a></button>
        </div>

    </main>

</body>
</html>