<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Enchère - Connexion</title>
</head>
<body>
<H1>Connexion</H1>

<a data-th-href="@{/}">Accueil</a>
<p data-th-text="${#ctx.session.currentUser != null} ? ${#ctx.session.currentUser} : 'Non connecté !'"/>

<form th:action="@{/login}" method="post">
    <label for="username">Pseudonyme</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Mot de passe</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Connexion" />
</form>
</body>
</html>